/* Strive for Progress, not Perfection */

* {
 margin: auto;
 font-family:'Black Ops One', cursive;
 text-align:center;
}

/* 1ALERT w3schools.com/howto/howto_js_alert.asp */
/* The alert message box */
.alert {
 padding: 20px;
 background-color: #EDF4FC; /* sky white */
 color: black;
 margin-bottom: 15px;
}

/* The close button */
.closebtn {
 margin-left: 15px;
 color: black;
 font-weight: bold;
 float: right;
 font-size: 25px;
 line-height: 20px;
 cursor: pointer;
 transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
 color: white;
}
/* 1ALERT w3schools.com/howto/howto_js_alert.asp */

body {
 color: ##1d3030;
 background-image: url(image/background.png);
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-position: center;
}


/* Dragon Ball Super Episode Title */
h1 {
 border-style: outset;
 border-width:5px;
 background-color: lightgrey;
 width: 88%;
 line-height: 1.5;
 margin-top: 8%;
}

/* It's Match Two */
h2 {
 border: 2px grey;
 border-radius: 8px;
 width: 35%;
 background-image: linear-gradient(to top, white, lightgrey);
 line-height: 1.3;
 margin-bottom: 40px;
 margin-top: 3%
}

/* Rock Paper Scissors */
h3 {
 border: 2px grey;
 border-radius: 8px;
 width: 35%;
 background-image: linear-gradient(to top, white, lightgrey);
 line-height: 1.3;
 margin: 1% 5.4%;
}

mark {
 background-color: black;
 color: white;
}

/* Match Description */
h4 {
 border-style: outset;
 border-width:5px;
 background-color: lightgrey;
 width: 570px;
 line-height: 2;
 margin: 1% 1%;
}

/* Dragon Ball Super Ownership */
h5 {
 line-height: 1.1;
 font-weight: bold;
}

/* Credits & Easter Egg */
h6 {
 font-size: 0.8rem;
 margin: 2%;
}

p {
 margin: 50px;
}

ul {
 background-image: url(image/lose.png);
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-position: center;
 border-style: outset;
 border-width:5px;
}

ol {
 background-image: url(image/win.png);
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-position: center;
 border-style: outset;
 border-width:5px;
}

li {
 Margin: 100px;
 list-style: none;
 padding: 150px 1px;
}

section {
 padding-top: 100px;
}

audio {
 padding-bottom: 25px;
}

video {
 padding-bottom: 60px;
}

footer {
 margin-top: 150px;
}

/* Anchor */
a {
 text-decoration: none;
}

a:link {
 color: green;
}

a:visited {
 color: black;
}

a:hover {
 color: DeepSkyBlue;
}

a:active {
 color: hotpink;
}

.container {
 max-width: 1366px;
 margin: 0 auto;
}

#footer {
 margin-top: 67px;
}
